* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    background-color: #bb2649;
    color: #ffffff;
    text-align: center;
    font-family: 'Monaco', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

a {
    font-size: 18px;
    font-family: 'Monaco', 'Arial', sans-serif;
    color: #0602f7;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

body {
    background-color: #dac0d1;
}

h2 {
    font-size: 28px;
    font-weight: 400px;
    font-style: italic;
}

img {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
}

p, li {
    font-size: 20px;
    color: #460a39;
    font-family: 'Monaco', 'Arial', sans-serif;
}

.ul-link-index {
    display: inline-block;
    background-color: rgb(199, 144, 236);
    margin: 0px;
    padding: 5px;
    width: 250px;
    text-align: center;

}

.ul-link-index:hover {
    background-color: #b80190;
}


.ul-holder {
    margin-top: 40px;
    text-align: right;
}


.index-ul {
    display: inline-block;
    font-size: 0;
    padding: 0px;
    border-color: #b80190;
    border: solid #b80190;
    background-color: #000000;
    text-align: right;
}




